
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contactez-nous</h2>
<h3>Adresse</h3>
<h4>130, rue Macdonell</h4>
<h4>Guelph (Ontario) N1H6P8</h4>
<h3>Telephone (Sans frais)</h3>
<h4>1-800-265-2662</h4>

